In [1]:
import pyarrow.parquet as pq

# Read the parquet file
table = pq.read_table('trades_hour_13.parquet')

# Convert to pandas DataFrame if needed
df = table.to_pandas()

# Display the first few rows
df.head()

,trade_id,side,size,price,time,fetched_at,symbol
0,849568043,sell,0.003514,117672.27,2025-07-15 13:29:36.383307+00:00,2025-07-15 13:30:09.055393+00:00,BTC-USD
1,849568044,sell,0.003201,117672.27,2025-07-15 13:29:36.386970+00:00,2025-07-15 13:30:09.055393+00:00,BTC-USD
2,849568046,sell,0.005918,117671.28,2025-07-15 13:29:36.826134+00:00,2025-07-15 13:30:09.055393+00:00,BTC-USD
3,849568051,sell,0.023454,117671.60,2025-07-15 13:29:36.826134+00:00,2025-07-15 13:30:09.055393+00:00,BTC-USD
4,849568050,sell,0.001515,117671.57,2025-07-15 13:29:36.826134+00:00,2025-07-15 13:30:09.055393+00:00,BTC-USD

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   trade_id    1000 non-null   int64
 1   side        1000 non-null   object
 2   size        1000 non-null   float64
 3   price       1000 non-null   float64
 4   time        1000 non-null   datetime64[ns, UTC]
 5   fetched_at  1000 non-null   datetime64[ns, UTC]
 6   symbol      1000 non-null   object
dtypes: datetime64[ns, UTC](2), float64(2), int64(1), object(2)
memory usage: 54.8+ KB